:root {
    --clr-primary-100: hsl(260, 100%, 95%);
    --clr-primary-300: hsl(264, 82%, 80%);
    --clr-primary-500:  hsl(263, 55%, 52%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(214, 17%, 92%);
    --clr-neutral-300: hsl(0, 0%, 81%);
    --clr-neutral-400: hsl(224, 10%, 45%);
    --clr-neutral-500: hsl(217, 19%, 35%);
    --clr-neutral-600: hsl(219, 29%, 14%);
    --clr-neutral-700: hsl(0, 0%, 7%);

    --fs-primary: 0.8125rem;

    --fw-regular: 500;
    --fw-bold: 600;

    --ff-primary: "Barlow Semi Condensed", sans-serif;
}

/* Reset */

*,
*::before,
*::after {
    box-sizing:border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* utility classes */
.flow-content > * + * {
    margin-top: var(--flow-space, 1rem);
}

.bg-white {
    color: var(--clr-neutral-500);
    background-color: var(--clr-neutral-100);
}

.bg-dark {
    color: var(--clr-neutral-100);
    background-color: var(--bg, var(--clr-primary-500));
}


/* typography/general styling */

body {
   padding: 4rem 1.5rem;
   font-family: var(--ff-primary);
   background-color: var(--clr-neutral-200);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media(min-width:40rem) {
    body {
       padding-top: 2.5rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       min-height: 100vh;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 70rem;
    }
}

h2 {
    font-size: 0.8rem;
}

h3 {
    font-weight: var(--fw-bold);
    line-height: 1.2;
}

.testimonial {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 4.5rem 7.5rem 3rem 1rem var(--clr-neutral-300);
}

.testimonial:nth-of-type(4) {
    color: var(--clr-neutral-300);
}

.testimonial:nth-of-type(2) {
    color: var(--clr-neutral-200);
}

@media(min-width:40rem) {
    .testimonial:nth-of-type(1) {
      grid-column: span 2;
      background-image: url(../images/bg-pattern-quotation.svg);
      background-repeat: no-repeat;
      background-position: top right 10%;
    }

    .testimonial:nth-of-type(3) {
      grid-column: -5 / -4
    }

    .testimonial:nth-of-type(4) {
    grid-column: span 2;
    }

    .testimonial:nth-of-type(5) {
     grid-column: 4 / 5;
     grid-row: -1 / 3;
    }
}
.testimonial p {
    font-size: 0.8rem;
    line-height: 1.3;
    font-weight: var(--fw-regular);
}

.testimonial-heading {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.testimonial-heading img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.testimonial-heading p {
    font-size: 0.7rem;
}

.testimonial-jonathan {
    --bg: var(--clr-neutral-500);
}

.testimonial-patrick {
    --bg: var(--clr-neutral-600);
}

